body {
    background-color: #f3f5f9;
    color: #4A4A4F;
    font-family: Oswald;
}

.brand {
    font-family: Oswald, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    color: #4A4A4F;
}

li a {
    font-size: 1.35rem;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: #e82d10;
}

.red-logo {
    color: #e82d10;
}


.bowl {
    color: #4A4A4F;
}

.card-link {
text-decoration: none; 
display: inline;
color: #4A4A4F;
}

.card-title {
    font-size: 26px;
    font-weight: bold;
}

.footer-text-color p {
    color: #4A4A4F;
}

.carousel-caption {
    position: static; /* Override the default absolute positioning */
    padding: 0;
    margin-top: 15px; /* Space between the image and the text */
}

.comment-box {
    margin: 3% 0 3% 7%;
}

.comments {
    margin-top: 3%;
    margin-left: 7%;
}

.individual-comment {
    padding: 10px;
    border-bottom: solid 1px #4A4A4F;
    width: 80%;
}

.like-container {
    margin-top: 1%;
}

.heart-color {
    color: #e82d10;
}

.comment-form-textarea {
    width: 80%;
}

.fa-star {
    color: #ffdd00;
}

.happy-red {
    color: #e82d10;
}
