{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row d-flex">
        {% for recipe in recipes %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="{% url 'recipe_detail' slug=recipe.slug %}" class="text-decoration-none text-dark">
                <div class="card h-100">
                    <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="{{ recipe.title }}" />
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                  
                        <p><i class="fas fa-star"></i> {{ recipe.average_rating|floatformat:1 }} ({{ recipe.number_of_ratings }})</p>
                    </a>
                        <button class="btn btn-outline-secondary">
                            <i class="fas fa-heart"></i> Favorite
                        </button>
                    </div>
                </div>
          
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}