{% extends "base.html" %} 
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1  d-none d-md-block mt-5">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators d-none mt-5">
                    {% for slide in carousel_items %}
                        <button type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active"
                            aria-current="true" {% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for slide in carousel_items %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}" data-bs-interval="5000">
                        <img src="{{ slide.image.url }}" class="d-block img-fluid w-75 m-auto" alt="{{ slide.heading }}" />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ slide.heading }}</h5>
                            <p>{{ slide.caption }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row d-flex">
                {% for category_data in categories %}
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <a href="{% url 'category_detail' slug=category_data.category.slug %}" class="card-link"
                        target="_blank">
                        <div class="card h-100">
                            <img src="{{ category_data.category.image.url }}" class="card-img-top image-overlay"
                                alt="{{ category.name }}"/>
                            <div class="card-body">
                                <p class="card-text">
                                    <span class="card-title">{{ category_data.category.name }}</span> -
                                    {{ category_data.category.description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{%endblock%}