{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <!-- Recipe Image -->
    <div class="row mb-4 justify-content-center">
        <div class="col-8 ">
            <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}" class="img-fluid">
        </div>
    </div>

    <!-- Recipe Title and Content -->
    <div class="row">
        <div class="col-12">
            <h2>{{ recipe.title }}</h2>
            <p><i class="fas fa-star"></i> {{ recipe.average_rating }} ({{ recipe.number_of_ratings }})</p>
            <p>{{ recipe.content }}</p>

            <button class="btn btn-outline-secondary">
                <i class="fas fa-heart"></i> Favorite
            </button>
        </div>
    </div>
</div>
<!-- Comments List -->
<div class="comments">
    <h2>Comments:</h2>
    {% for comment in comments %}
    <div class="individual-comment">
        <p><strong>Comment by:</strong> {{ comment.user.username }}</p>
        {% if not comment.approved %}
        <div class="alert alert-info" role="alert">
            Your comment is awaiting approval.
        </div>
        {% endif %}

        <p>{{ comment.content }}</p>
        <p>Posted on {{ comment.created_on }}</p>

        {% if comment.user == request.user %}
        <a href="{% url 'edit_comment' comment.pk %}">Edit</a>
        <a href="{% url 'delete_comment' comment.pk %}">Delete</a>
        {% endif %}

        {% if comment.approved %}
        <div class="like-container">
            <button class="like-btn btn btn-outline-success" data-comment-id="{{ comment.id }}">
                <i class="fas fa-thumbs-up"></i> Like </button>
            <span id="likes-count-{{ comment.id }}" class="likes-count">{{ comment.likes.count }}</span>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}
</div>
<div class="comment-box">
    <h2 class="comment-title">Leave a Comment:</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}