{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container mt-5">
    <h2 class="text-center mb-5">{{ recipe.title }}</h2>
    <!-- Recipe Image -->
    <div class="row mb-4 justify-content-center">
        <div class="col-8">
            <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}" class="img-fluid">
        </div>
    </div>

    <!-- Recipe Title and Content -->
    <div class="row">
        <div class="col-10">
            <!-- Show average rating as numeric value -->
            <div class="average-rating">
                <span>Average Rating: {{ recipe.average_rating|floatformat:1 }}</span>
            </div>

            <!-- User's rating form -->
            <form id="ratingForm" action="{% url 'rate_recipe' recipe.slug %}" method="post">
                {% csrf_token %}
                <div class="user-rating">
                    <span>Your Rating: </span>
                    {% for star in '12345' %}
                    <i class="rating-star {% if user_rating and forloop.counter <= user_rating.stars %} fas {% else %} far {% endif %} fa-star"
                        data-value="{{ star }}"></i>
                    {% endfor %}
                </div>
                <input type="hidden" name="stars" id="starsInput" value="{{ user_rating.stars|default_if_none:'' }}">
                <button type="submit" class="btn btn-primary mt-2 mb-5">Rate</button>
            </form>
            <div class="col-8">
                <p>{{ recipe.content | safe }}</p>
            </div>
            <form action="{% url 'toggle_favorite' recipe.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary btn-sm mt-3">
                    {% if recipe.id in favorited_recipe_ids %}
                    <i class="fas fa-heart heart-color"></i> Remove from Favorites
                    {% else %}
                    <i class="far fa-heart"></i> Add to Favorites
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
</div>
<!-- Comments List -->
<div class="comments col-8">
    <h2>Comments:</h2>
    {% for comment in comments %}
    <div class="individual-comment">
        <p><strong>Comment by:</strong> {{ comment.user.username }}</p>
        {% if not comment.approved %}
        <div class="alert alert-info" role="alert">
            Your comment is awaiting approval.
        </div>
        {% endif %}

        <p>{{ comment.content }}</p>
        <p>Posted on {{ comment.created_on }}</p>

        {% if comment.user == request.user %}
        <a href="{% url 'edit_comment' comment.pk %}">Edit</a>
        <a href="{% url 'delete_comment' comment.pk %}">Delete</a>
        {% endif %}

        {% if comment.approved %}
        <div class="like-container">
            <button class="like-btn btn btn-outline-success" data-comment-id="{{ comment.id }}">
                <i class="fas fa-thumbs-up"></i> Like </button>
            <span id="likes-count-{{ comment.id }}" class="likes-count">{{ comment.likes.count }}</span>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}
</div>
<div class="comment-box">
    <h2 class="comment-title">Leave a Comment:</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}